.footer-title{
    text-align: center;
    padding-top: 30px;
    color: $color-header-text;
}

.up{
    padding: 10px;
    color: $color-header-text;
    background: $color-header;
    border-radius: 50px;
    position: absolute;
    bottom: 25px;
    right: 10px;
    float: none;
    clear: both;
}