.web-header{
    background: $color-header;
    color: $color-header-text;
    height:  183px;
    max-height: 183px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title-controls{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.offset-menu{
    
    width: 15%;
    display: inline-block;
}

.title{
    text-align: center;
    font-weight: bold;
    width: 70%;
    display: inline-block;
}

.settings{
    text-align: right;
    width: 15%;
    display: inline-block;
}

.search-bar{
    text-align: center;
    height: 50px;
}



.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: $color-header-text}

.dropdown:hover .dropdown-content {
    display: block; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $color-header;
}

li {
    width: 33%;
    float: left;
    text-align: center;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: $color-header-hover;
    border-bottom: 2px solid $color-header-text !important;
}

li.dropdown {
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    bottom: -130px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

