.web-header{
    background: $color-header;
    color: $color-header-text;
    height:  183px;
    max-height: 183px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title-controls{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.offset-menu{
    
    width: 15%;
    display: inline-block;
}

.title{
    text-align: center;
    font-weight: bold;
    width: 70%;
    display: inline-block;
}

.settings{
    text-align: right;
    width: 15%;
    display: inline-block;
}

.search-bar{
    text-align: center;
    height: 50px;
}
