<div class="content-article">
        <div class="photo-detail">
            <img src="img/container-1024px.jpg" alt="container">
            <div class="span-photo-detail">
                <div class="publish-date-detail">
                    November 6, 2017
                </div>
                <div class="title-photo-detail">
                    Este es un articulo genial
                </div>
            </div>
        </div>
            <div class="article-info-detail">
                <div class="user-detail">
                    <div class="user-image-detail">
                        <img src="./img/elias-350px.jpg" alt="elias">
                    </div>
                    <div class="user-name-detail">
                        Nombre de usuario
                    </div>
                </div>
                    <div class="article-social-heart-detail">
                        <i class="material-icons">favorite</i>+85
                    </div>
                    <div class="article-social-comment-detail">
                        <i class="material-icons">chat_bubble</i>+65
                    </div>
            </div>
                <hr>
                <div class="article-detail-content"><br>
                    <strong>hola</strong>
                    <p> <strong>Lorem ipsum</strong>  dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt nisi in dolor feugiat faucibus. Curabitur ut ipsum in leo hendrerit bibendum suscipit at nulla. In lorem quam, pulvinar sit amet dignissim vel, mollis et eros. Integer molestie nunc sit amet bibendum lobortis. Mauris odio orci, tempus ut ornare et, gravida sit amet orci. Aliquam dapibus varius scelerisque. Nam eu posuere sem, eleifend maximus orci. Mauris bibendum purus enim, vitae suscipit nisi ullamcorper vel. Mauris quis odio lacus. Aliquam ultricies ultricies pretium. Praesent ullamcorper viverra risus, ac tincidunt augue condimentum nec. Integer vel luctus tellus. Mauris purus felis, tempor ac justo eget, cursus iaculis massa. Suspendisse potenti.</p>
                    <br>
                    <p> <i>Aliquam condimentum</i>  odio sit amet risus convallis, ac maximus nunc sodales. Nulla accumsan dolor ut lectus mattis lobortis. Aliquam aliquam, massa eu blandit consectetur, lacus nunc lacinia magna, pretium tempor purus ipsum in felis. Proin consectetur condimentum velit vitae pretium. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas luctus mattis dolor, ut scelerisque felis viverra vitae. Sed ultricies lectus sit amet molestie cursus. Donec ut libero quis mauris dictum iaculis. Aliquam mauris diam, ullamcorper sit amet mi id, aliquet posuere libero. Integer risus neque, sodales in orci sit amet, finibus rhoncus augue.</p>
                    <br>
                    <p>Vivamus consequat urna eros, quis interdum tellus laoreet id. Quisque convallis elit vel ipsum feugiat sagittis. Nulla varius maximus purus, sit amet egestas neque volutpat quis. Mauris at leo purus. Vivamus sodales facilisis velit. Nullam a arcu vel odio dignissim scelerisque. Morbi eget sem eu lacus congue tincidunt ac tempus nunc. Cras id nulla lobortis massa posuere fermentum condimentum ut dui. Maecenas tempor, est rutrum blandit malesuada, ligula leo volutpat neque, eget cursus odio tortor nec eros. Donec a nibh malesuada elit eleifend feugiat. Etiam pellentesque, felis at dignissim varius, tellus tellus pulvinar diam, quis hendrerit arcu neque eget lorem. Etiam at orci ac leo lobortis efficitur. Quisque convallis neque sed erat commodo faucibus.</p>
                    <br>
                    <p><a href="#">Vivamus aliquam vitae</a>  nunc ut efficitur. Sed cursus sollicitudin justo, vel iaculis nisi tincidunt non. Etiam nec convallis nisi. Sed vel lectus urna. Aenean consequat erat eleifend feugiat vehicula. Donec maximus, massa in luctus viverra, augue nulla consectetur erat, ac pharetra lorem metus vitae diam. Suspendisse euismod erat vitae neque congue accumsan. Proin eu aliquet tellus. Aliquam erat volutpat. Aenean in congue odio, ac aliquam lectus. Donec velit diam, tempus vel dui a, varius vulputate risus. Curabitur condimentum mauris a nulla porta vehicula. In consectetur, felis quis semper venenatis, nibh lorem cursus dolor, a facilisis diam ipsum at magna. Nulla pellentesque elit sem, sit amet efficitur lacus mattis ac.</p>
                    <br>
                    <p>Proin id urna purus. Nam et enim id nisl ultricies fringilla. Maecenas quis ante non libero euismod varius. Maecenas mattis diam vel volutpat molestie. Quisque ac augue ac nibh vestibulum tristique at in enim. In ut nunc rutrum, dapibus velit iaculis, mollis augue. Duis aliquam varius pretium. Vivamus porta dolor eget magna dictum, eu sollicitudin sapien elementum. Nullam maximus pulvinar suscipit. Fusce in magna a nulla vulputate sodales. Vestibulum scelerisque est a erat tristique consectetur.</p>
                </div>
            
                <div class="comments">
                    COMENTARIOS
                    <div class="comment-body">
                        <div class="form">
                            <!-- AQUI VA EL FORMULARIO DE COMENTARIOS  comment-form.html-->
                            <form novalidate action="submit" class="comment-form">
                                <div class="ui-status error">Se ha producido un error</div>
                                <div class="ui-status loading">Guardando comentario...</div>
                                <div class="ui-status ideal">
                                    <label for="name">Nombre: </label>
                                    <input type="text" name="name"required>
                            
                                    <label for="apellidos">Apellidos: </label>
                                    <input type="text" name="apellidos"required>
                            
                                    <label for="mail">Correo: </label>
                                    <input type="mail" name="mail"required>
                            
                                    <label for="comentario">Comentario: </label>
                                    <input type="text" name="comentario" maxlength="120" required>
                            
                                    <input type="button" value="Enviar" class="button">
                                </div>  
                            </form>
                        </div>
                        <!--AQUI SE RENDERIZAN LOS COMENTARIOS-->
                        <section class="comment-list loading">
                            
                                <div class="ui-status empty">
                                    No hay ningun comentario que mostrar
                                </div>
                            
                                <div class="ui-status error">
                                    Se ha producido un error al cargar los comentarios
                                </div>
                            
                                <div class="ui-status loading">
                                    Cargando...
                                </div>
                            
                                <div class="ui-status ideal">
                                            
                                </div>
                            </section>
                </div>
                </div>
    </div>
