<section class="article-list loading">
        
            <div class="ui-status empty">
                No hay ningun articulo que mostrar
            </div>
        
            <div class="ui-status error">
                Se ha producido un error al cargar los articulos
            </div>
        
            <div class="ui-status loading">
                Cargando...
            </div>
        
            <div class="ui-status ideal">
                        
            </div>
        </section>