<article class="article">
    <div>
    <div class="photo">
        AQUI VA UNA FOTO
    </div>
        <div class="span-photo">
            <div class="publish-date">
                November 6, 2017
            </div>
            <div class="title-photo">
                Este es un articulo genial
            </div>
        </div>
        <div class="article-info">
            <div class="article-description"><br>
                Hola esta es la descripcion de un articulo
            </div>
            <hr>
            <div class="user">
                <div class="user-image">
                    <picture></picture>
                </div>
                <div class="user-name">
                    Nombre de usuario
                </div>
            </div>
            <div class="article-social-heart">
                <i class="material-icons">favorite</i>
            </div>
            <div class="article-social-comment">
                <i class="material-icons">chat_bubble</i>
            </div>
        </div>
    </div>
    
    
</article>
