<div class="web-header">
    <div class="title-controls">
        <nav>
            <div class="title">
                PUBINT
            </div>
            <ul>
                <li class="dropdown">
                    <a href="#" class="dropbtn">CATEGORIAS</a>
                    <div class="dropdown-content">
                        <a href="http://localhost:3000/">Inicio</a>
                        <a href="http://localhost:3000/article-detail.html">Articulo 1</a>
                        <a href="#">Articulo 2</a>
                    </div>
                </li>
                <li><a href="#">REGISTRO</a></li>
                <li><a href="#">LOGIN</a></li>
                <div class="search-bar">
                    <input type="search">
                </div>
                <div class="settings dropdown-mobile dropbtn-mobile">
                    <ul>
                        <i class="material-icons">more_vert</i>
                        <div class="dropdown-content-mobile">
                                <a href="http://localhost:3000/">Inicio</a>
                                <a href="http://localhost:3000/article-detail.html">Articulo 1</a>
                                <a href="#">Articulo 2</a>
                                <a href="#">REGISTRO</a>
                                <a href="#">LOGIN</a>
                            </div>
                    </ul>
                </div>
                            <div class="settings-search">
                                    <i class="material-icons">search</i>
                                </div>
            </ul>
                    </nav>
        
    </div>
   
</div>