<div class="web-header">
    <div class="title-controls">
        <div class="offset-menu">
            <i class="material-icons">menu</i>
        </div>
        <div class="title">
            PUBINT
        </div>
        <div class="settings">
            <i class="material-icons">more_vert</i>
        </div>
    </div>
    <div class="search-bar">
        <input type="search">
    </div>
    <nav>
        <ul>
            <li><a href="#">CATEGORIAS</a></li>
            <li><a href="#">REGISTRO</a></li>
            <li><a href="#">LOGIN</a></li>
        </ul>
    </nav>
</div>