<div class="web-header">
    <div class="title-controls">
        <div class="offset-menu">
            <i class="material-icons">menu</i>
        </div>
        <div class="title">
            PUBINT
        </div>
        <div class="settings">
            <i class="material-icons">more_vert</i>
        </div>
    </div>
    <div class="search-bar">
        <input type="search">
    </div>
    <nav>
        <ul>
            <li class="dropdown">
                <a href="#" class="dropbtn">CATEGORIAS</a>
                <div class="dropdown-content">
                    <a href="http://localhost:3000/">Inicio</a>
                  <a href="http://localhost:3000/article-detail.html">Articulo 1</a>
                  <a href="#">Articulo 2</a>
            </li>
            <li><a href="#">REGISTRO</a></li>
            <li><a href="#">LOGIN</a></li>
        </ul>
    </nav>
</div>